.campos {
  max-width: 600px;
}
.barra {
  max-width: 600px;
  border-radius: 10px;
}

h2.text-primary {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  position: relative;
  margin-bottom: 1.5rem;
  color: #43186b!important;
  text-shadow: 1px 1px 3px rgba(3, 23, 53, 0.3);
}

