<h2 class="text-center mb-4 text-primary">Logs de Tarefas Executadas</h2>

<div *ngIf="isLoading" class="d-flex justify-content-center my-4">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<div
  *ngIf="!isLoading && taskLogs.length === 0"
  class="alert alert-info text-center"
  role="alert"
>
  Nenhum log de tarefa registrado.
</div>

<div *ngIf="!isLoading && taskLogs.length > 0" class="list-group">
  <div
    *ngFor="let log of taskLogs"
    class="list-group-item list-group-item-action flex-column align-items-start mb-2 shadow-sm border-0 rounded"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-dark label-acao">Ação: {{ log.acao }}</h5>
      <small class="text-muted">{{
        log.dataHora | date : "dd/MM/yyyy HH:mm:ss"
      }}</small>
    </div>
    <p class="mb-1">
      <strong>Usuário:</strong>
      <span class="text-primary">{{ log.usuario }}</span>
    </p>
    <p class="mb-1">
      <strong>Máquina Virtual:</strong>
      <span class="text-secondary">{{ log.nomeMaquinaVirtual }}</span>
    </p>
  </div>
</div>
